@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Are you sure you want to delete this machine?</h1>
<br>

@using (Html.BeginForm()) 
{
  <input type="submit" value="Delete Machine"> 
}

<br>
<p>@Html.ActionLink("Back", "Details")</p> 
<p>@Html.ActionLink("Back to Machine List", "Index")</p>