@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Are you sure you want to delete this engineer?</h1>
<br>

@using (Html.BeginForm()) 
{
  <input type="submit" value="Delete Engineer"> 
}

<br>
<p>@Html.ActionLink("Back", "Details")</p> 
<p>@Html.ActionLink("Back to Engineer List", "Index")</p>