@{
  Layout = "_Layout";
}

<h1>🤖Welcome to Dr. Sillystringz's Factory!🤖</h1>
<br>
<h2>This is Dr. Sillystringz factory home of the famous Plumbus!</h2>

<h3>@Html.ActionLink("View Machines", "Index", "Machines")</h3>
<h3>@Html.ActionLink("View Engineers", "Index", "Engineers")</h3>